@import url(/includes/styles/pmaster.css);
.Tab,.Tabon,.Tabw,.Tabwon {width:92px;}

/* TK - Temporary styles for IShares - ETF coverpage only */


#iSharesSignupWrapper
{
	height:155px;
}
#LayerTopPerformingCol2 {	float:left;	width: 175px;	position: relative;	margin: 0px 0px 0px 0px; overflow:hidden;	vertical-align: top;}


.middeckThird { clear:both; }

/* end Ishares */
